.container {
    height: 100vh;
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
   
}

.text-chamada{
    width: 100%; /* Define o tamanho das divs */
    padding: 20px;
	color:black;
	position: relative;
    display: flex;
    text-align: justify;
    align-items: center;
    flex-direction: column;
}

.text-chamada  h1{
    position: relative;
	font-size: 48px;
	color: #ec4141;
    display: flex;
}
.text-chamada h3{
    font-size: 32px;
    width: 100%;
    height: 100%;
    display: flex;

    
}

.objeto {
	width: 100%; 
    padding: 20px;
	color:black;
	position: relative;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 

	
}

.fotos {
    width: 100%; /* Ajusta a largura da imagem ao tamanho da div */
    height: auto; /* Mantém a proporção da imagem */
}
footer{
	background-color: #333;
	text-align: center;
	padding: 8px;
}



@media (max-width: 768px) {
     .container {
       display: flex; 
       gap: 20px; 
       align-items: flex; 
       justify-content: space-between; 
       padding: 20px;
       height: 87vh;
    }

    a:hover {
        color: #007BFF; 
    }
}

@media (max-width: 450px) {

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .menu {
        display: block;
        justify-content: space-between;
    }

    .container {
        display: flex;
        flex-direction: column; 
        
    }
    .objeto {
        width: 75%;
        margin: auto;   
    }

    .text-chamada {
        height: 100%;
    }
    a:hover {
        color: #007BFF; 
    }

  

}